services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      # Recuerda construir en local con plataforma amd64
    command: ["python", "cli.py", "--help"]
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      - PYTHONUNBUFFERED=1
    tty: true
    stdin_open: true
*** End Patch

